.alarm-content {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
}

.ping-div {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    align-items: center;
    background-color: darkblue;
}

.ping-button {
    background: linear-gradient(red, purple);
    background-color: pink;
}
